evl_Reminders.config.scale = 1 -- Icon scale (default size is 36x36)
evl_Reminders.config.position = {"CENTER", UIParent, "CENTER", 300, 0} -- Anchor position, see http://www.wowwiki.com/API_Region_SetPoint

-- Rogue
evl_Reminders.config.rogue.mainHandPoison = "Instant Poison" -- Preferred main-hand poison
evl_Reminders.config.rogue.offHandPoison = "Deadly Poison" -- Preferred off-hand poison
evl_Reminders.config.rogue.mainHandSecondaryPoison = "Wound Poison" -- Preferred secondary main-hand poison
evl_Reminders.config.rogue.offHandSecondaryPoison = "Crippling Poison"-- Preferred secondary off-hand poison
evl_Reminders.config.rogue.thresholdTime = 10 -- Number of minutes to warn before a poison expires

size = 36,
position = {"CENTER", UIParent, "CENTER", 300, 0},

rogue = {
	mainHandPoison = "Instant Poison",
	offHandPoison = "Deadly Poison",
	mainHandSecondaryPoison = "Wound Poison",
	offHandSecondaryPoison = "Crippling Poison",
	
	thresholdTime = 10,
}
